#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 50px;
  background-color: rgba(213, 235, 250, 0.521);
  border-radius: 15px;
}

.top-section {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.search-results {
  height: 450px;
  text-align: center;
}

input::placeholder {
  color: rgba(234, 244, 252, 0.808);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.error-button {
  background-color: #76bb9181;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.loader {
  border: 13px solid #e689d2d5;
  border-top: 13px solid #c9a6f7;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

.nothing-found {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.left-section {
  padding: 10px;
}

.loader-container {
  text-align: center;
}

.nothing-found {
  text-align: center;
  font-size: 1.5em;
  color: #888;
}

.animalLink {
  text-decoration: none;
  color: rgba(10, 33, 68, 0.87);
}

.light-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #eff3f5d0;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.light-checkbox:checked {
  background-color: #e689d234;
  border-color: #e689d234;
}

.light-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 29%, 83% 14%, 43% 62%);
  transform: translate(-50%, -50%);
}

.flyout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flyout button,
.flyout p {
  margin-left: 10px;
  margin-right: 55px;
}

.pagination {
  text-align: center;
}

@media screen and (max-width: 805px) {
  .App,
  .nothing-found {
    height: fit-content;
  }
  .loader-container {
    padding-top: 20px;
  }
}
